{erl_opts, [debug_info]}.
{deps, [
    %% never heard of plumtree... it is an efficient gossiping protocol
    %% bundled with a storage engine. Riak uses a similar mechanism for
    %% distributing cluster wide state information.
    {plumtree, {git, "https://github.com/vernemq/plumtree.git", {branch, "master"}}}
]}.
