_build
log
debian/*
vars.generated
vars/dev*_vars.config
*.deb
*.rpm
*.crashdump

.ropeproject
*~
TAGS

plts/
plts_base/


docker/vernemq.tar.gz

.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
vernemq.iml
