%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% Packaging
%%
{package_name, "vernemq"}.
{package_install_name, "vernemq"}.
{package_install_user, "vernemq"}.
{package_install_group, "vernemq"}.
{package_install_user_desc, "VerneMQ user"}.
{package_commands, {list, [[{name, "vernemq"}], [{name, "vmq-admin"}], [{name, "vmq-passwd"}]]}}.
{package_shortdesc, "VerneMQ is a MQTT message broker"}.
{package_desc, "VerneMQ is a MQTT message broker"}.
{bin_or_sbin, "sbin"}.
{package_patch_dir, "erlio-patches"}.
{solaris_pkgname, "ERLIOverneMQ"}.
{license_type, "Apache 2"}.
{copyright, "2018 Erlio, GmbH"}.
{vendor_name, "Erlio, GmbH"}.
{vendor_url, "http://erl.io"}.
{vendor_contact_name, "Erlio Package Maintainer"}.
{vendor_contact_email, "packaging@erl.io"}.
{cuttlefish_conf, "vernemq.conf"}.
{license_full_text, "This file is provided to you under the Apache License,\n"
"Version 2.0 (the \"License\"); you may not use this file\n"
"except in compliance with the License. You may obtain\n"
"a copy of the License at\n"
"\n"
" http://www.apache.org/licenses/LICENSE-2.0\n"
"\n"
"Unless required by applicable law or agreed to in writing,\n"
"software distributed under the License is distributed on an\n"
"\"AS IS\" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY\n"
"KIND, either express or implied. See the License for the\n"
"specific language governing permissions and limitations\n"
"under the License."}.
