%%-*- mode: erlang -*-
{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}]}.
{erl_first_files, ["src/vmq_msg_store.erl"]}.
{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {emqtt_commons, ".*", {git, "git://github.com/erlio/emqtt_commons.git"}},
        {cowboy, "1.0.0", {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.0"}}},
        {bitcask, ".*", {git, "git://github.com/basho/bitcask.git", {tag, "bitcask-1.1.6"}}},
        {unsplit, ".*", {git, "git://github.com/uwiger/unsplit.git", "8ab6130e6c8ef167e82f6b25f875b2bb293a1345"}},
        {mnesia_cluster, ".*", {git, "git://github.com/erlio/mnesia_cluster.git"}},
        {jobs, ".*", {git, "git://github.com/uwiger/jobs.git", {tag, "0.3"}}}
       ]}.
