%%-*- mode: erlang -*-
{sub_dirs, ["rel", "apps/emqttd"]}.

{lib_dirs, ["apps/emqttd"]}.

{erl_opts, [debug_info, fail_on_warning]}.
{eunit_opts, [verbose]}.
{erlydtl_opts, [
                {compiler_options, [report, return, debug_info]}
               ]}.
{deps, [
        {node_package,".*", {git,"git://github.com/basho/node_package.git", {branch, "master"}}},
        {cuttlefish,".*",{git,"git://github.com/basho/cuttlefish.git", {branch, "master"}}},
        {lager_syslog, "2.0.3", {git, "git://github.com/basho/lager_syslog.git", {tag, "2.0.3"}}},
        {eper, "0.87.0", {git, "https://github.com/massemanet/eper.git", {tag, "0.87.0"}}},
        {emqttd_server, ".*", {git, "git@bitbucket.org:erlio/emqttd_server", {branch, "master"}}},
        {emqttd_acl, ".*", {git, "git@bitbucket.org:erlio/emqttd_acl", {branch, "master"}}},
        {emqttd_passwd, ".*", {git, "git@bitbucket.org:erlio/emqttd_passwd", {branch, "master"}}},
        {emqttd_bridge, ".*", {git, "git@bitbucket.org:erlio/emqttd_bridge", {branch, "master"}}}
       ]}.
