{erl_opts, [{parse_transform, lager_transform},
            warnings_as_errors,
            debug_info]}.
{deps, [
        {lager, {git, "git://github.com/basho/lager.git", {tag, "3.0.1"}}},
        {vmq_commons, {git, "git://github.com/erlio/vmq_commons.git", {branch, "master"}}},
        {luerl, {git, "git://github.com/rvirding/luerl.git", {branch, "develop"}}},
        {poolboy, {git, "git://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
        {emysql, {git, "git://github.com/Eonblast/Emysql.git", {tag, "v0.4.1"}}},
        {epgsql, {git, "git://github.com/epgsql/epgsql.git", {tag, "3.1.0"}}},
        {mongodb, {git, "git://github.com/comtihon/mongodb-erlang.git", {tag, "v0.7.9"}}},
        {eredis, {git, "git://github.com/wooga/eredis.git", {tag, "v1.0.8"}}},
        {hackney, {git, "git://github.com/benoitc/hackney.git", {tag, "1.4.0"}}},
        {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.7.1"}}}
       ]}.

{overrides, [{override, mongodb, 
              %% use different bson-erlang fork, as we have a compile error in the official one
              [{deps, [{bson, {git, "git://github.com/vintenove/bson-erlang", {branch, "master"}}},
                       {pbkdf2, {git, "https://github.com/basho/erlang-pbkdf2.git", {tag, "2.0.0"}}}
                      ]}
              ]}]
}.

{profiles, [{test, 
             [{deps, [{vmq_plugin, 
                       {git, "git://github.com/erlio/vmq_plugin.git", {branch, "master"}}
                      }]
              }]
            }]
}.
