{release,{sample,"1.0.0"},["bitcask","cowboy","cowlib","edown",
                           "emqtt_commons","emqttd_server","erlydtl",
                           "eunit_formatters","gen_leader","gproc","merl",
                           "mnesia_cluster","n2o","ranch"]}.
{include_erts,true}.
{extended_start_script,true}.
{generate_start_script,true}.
{sys_config,"sys.config"}.
{overlay,[{mkdir,"log/sasl"}]}.
