[
 {emqttd_acl, [
    {file, "lib/emqttd_acl-1/priv/test.acl"}
    ]},
 {emqttd_passwd, [
    {file, "lib/emqttd_passwd-1/priv/test.passwd"}
    ]},
 {mnesia_cluster, [
    {table_definition_mod, {emqttd_reg, emqttd_table_defs, []}},
    {cluster_monitor_callbacks, [emqttd_cluster]},
    {app_process, emqttd_cluster}
    ]}
].
