%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Platform-specific installation paths
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "./data"}.
{platform_etc_dir,      "./etc"}.
{platform_lib_dir,      "./lib"}.
{platform_log_dir,      "./log"}.
{cuttlefish_schema_dir, "./share/schema"}.
{platform_share_dir,        "./share"}.

%%
%% etc/vm.args
%%
{node,                  "VerneMQ@127.0.0.1"}.
{crash_dump,            "./log/erl_crash.dump"}.

%%
%% bin/vernemq
%%
{runner_script_dir,     "$(cd `dirname $0` ; /bin/pwd)"}.
{runner_base_dir,       "$(cd `dirname $0` ; /bin/pwd)/.."}.
{runner_etc_dir,        "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,        "$RUNNER_BASE_DIR/log"}.
{runner_lib_dir,        "$RUNNER_BASE_DIR/lib"}.
{runner_patch_dir,      "$RUNNER_BASE_DIR/lib/erlio-patches"}.
{pipe_dir,              "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,           ""}.
{runner_wait_process,   "vmq_cluster_node_sup"}.
{runner_ulimit_warn,    65536}.

%% vmq_server
{max_connections, 10000}.
{max_nr_of_acceptors, 10}.
{mqtt_default_ip, "127.0.0.1"}.
{mqtt_default_port, 1883}.
{mqtt_default_ws_ip, "127.0.0.1"}.
{mqtt_default_ws_port, 8080}.
{cluster_default_ip, "0.0.0.0"}.
{cluster_default_port, 44053}.
{http_default_ip, "127.0.0.1"}.
{http_default_port, 8888}.
{metadata_plugin, vmq_swc}.

%% lager
{console_log_default, file}.

%%
%% cuttlefish
%%
{cuttlefish,            "on"}.
{cuttlefish_conf,       "vernemq.conf"}.
