%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Platform-specific installation paths
{platform_bin_dir,      "/usr/bin"}.
{platform_data_dir,     "/var/lib/vernemq"}.
{platform_etc_dir,      "/etc/vernemq"}.
{platform_base_dir,     "/usr/lib/vernemq"}.
{platform_lib_dir,      "/usr/lib/vernemq/lib"}.
{platform_log_dir,      "/var/log/vernemq"}.
{cuttlefish_schema_dir, "/usr/share/vernemq/schema"}.
{platform_share_dir,    "/usr/share/vernemq"}.

%%
%% etc/vm.args
%%
{crash_dump,            "/var/log/vernemq/erl_crash.dump"}.

%%
%% bin/vernemq
%%
{runner_script_dir,     "/usr/lib/vernemq/bin"}.
{runner_base_dir,       "/usr/lib/vernemq"}.
{runner_etc_dir,        "/etc/vernemq"}.
{runner_log_dir,        "/var/log/vernemq"}.
{runner_lib_dir,        "/usr/lib/vernemq/lib"}.
{runner_patch_dir,      "/usr/lib/vernemq/lib/erlio-patches"}.
{pipe_dir,              "/tmp/vernemq/"}.
{runner_user,           "vernemq"}.
