{erl_opts, [{parse_transform, lager_transform},
            warnings_as_errors,
            debug_info]}.

{deps, [
        clique,
        {lager, "3.2.1"},
        {poolboy, "1.5.1"},
        hackney,
        {jsx, "2.8.0"},

        {vernemq_dev, {git, "git://github.com/larshesel/vernemq_dev.git", {branch, "add-support-for-unwording-empty-topics"}}}
       ]}.

{profiles,
 [{test, [{deps, 
           [{cowboy, "1.0.4"}]}]}]}.
