{erl_opts, [{parse_transform, lager_transform},
            warnings_as_errors,
            debug_info]}.

{deps, [
        clique,
        {lager, "3.6.3"},
        {poolboy, "1.5.1"},
        hackney,
        {jsx, "2.8.0"}
       ]}.

{profiles,
 [{test, [{deps, 
           [{cowboy, "2.5.0"}]}]}]}.
