%%-*- mode: erlang -*-
{minimum_otp_vsn, "17.0"}.
{erl_opts, [{platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}, 
            warnings_as_errors, 
            debug_info]}.
{xref_checks, []}.
{deps, [
        {cowboy, "2.8.0"},
        {ranch, "1.7.1"},
        {jsx, "2.10.0"},
        {riak_sysmon, "2.1.5"},
        {gen_server2, {git, "git://github.com/erlio/gen_server2.git", {branch, "master"}}}
       ]}.

{cover_enabled, true}.

{ct_compile_opts, [{i, "./include"}]}.