%%-*- mode: erlang -*-
{minimum_otp_vsn, "17.0"}.
{erl_opts, [
    {platform_define, "^[0-9]+", namespaced_types},
    {parse_transform, lager_transform},
    warnings_as_errors,
    debug_info
]}.
{xref_checks, []}.
{deps, [
    {cowboy, "2.12.0"},
    {ranch, "2.2.0"},
    {jsx, "2.10.0"},
    {riak_sysmon, {git, "https://github.com/basho/riak_sysmon.git", {branch, "develop"}}},
    {gen_server2, {git, "https://github.com/erlio/gen_server2.git", {branch, "master"}}},
    {eredis,
        {git, "https://github.com/dhruvjain99/eredis.git", {branch, "fix-sentinel-reconnect-loop"}}}
]}.

{cover_enabled, true}.
