%%-*- mode: erlang -*-
{minimum_otp_vsn, "22.0"}.
{erl_opts, [
    {platform_define, "^[0-9]+", namespaced_types},
    {parse_transform},
    warnings_as_errors,
    debug_info
]}.
{xref_checks, []}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.11.0"}}},
    {ranch, "2.1.0"},
    {jsx, "3.1.0"},
    {riak_sysmon, "2.1.5"},
    {systemd, "0.6.2"},
    {credentials_obfuscation, "3.4.0"},
    {gen_server2, {git, "https://github.com/erlio/gen_server2.git", {branch, "master"}}}
]}.

{cover_enabled, true}.

{ct_compile_opts, [{i, "./include"}]}.
