%%-*- mode: erlang -*-
{erl_opts, [{platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}, 
            warnings_as_errors,
            debug_info]}.
{xref_checks, []}.
{plugins, [rebar3_neotoma_plugin]}.
{provider_hooks, [
                 {pre, [{compile, {neotoma, compile}}]}
                ]}.
{cover_enabled, true}.
