{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    lager,
    {epgsql, "4.6.0"},
    {eredis,
        {git, "https://github.com/dhruvjain99/eredis.git", {branch, "fix-sentinel-reconnect-loop"}}},
    {psql_migration, {git, "https://github.com/helium/psql-migration.git", {branch, "master"}}}
]}.
{cover_enabled, true}.
