{minimum_otp_vsn, "20.0"}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
        lager,
        sext,

        {swc, {git, "git://github.com/dergraf/ServerWideClocks.git", {branch, "use-maps-instead-of-orddict"}}},
        {sext, "1.4.1"},
        {rocksdb, "0.23.1"},

        %% plumtree related
        riak_dt
       ]}.

{cover_enabled, true}.
