{erl_opts, [debug_info]}.
{deps, [
    {opentelemetry,
        {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang.git", {branch, "main"},
            "apps/opentelemetry"}},
    {opentelemetry_api,
        {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang.git", {branch, "main"},
            "apps/opentelemetry_api"}},
    {opentelemetry_exporter,
        {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang.git", {branch, "main"},
            "apps/opentelemetry_exporter"}}
]}.
