%%-*- mode: erlang -*-
{post_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"}]}.
{deps, [
        {lager, "3.2.1"}, %% needed this version for erlang 19 compat
        {clique, {git, "git://github.com/basho/clique.git", {tag, "0.3.5"}}},
        {vmq_commons, ".*", {git, "git://github.com/erlio/vmq_commons.git", {branch, "master"}}}
       ]}.
