%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "emqttd", "1",
        [
         kernel,
         stdlib,
         sasl,
         emqttd_server,
         emqttd_passwd,
         emqttd_acl,
         eper
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "emqttd"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, cuttlefish, [{incl_cond, include}]},
       {app, emqttd_server, [{incl_cond, include}]},
       {app, emqttd_acl, [{incl_cond, include}]},
       {app, emqttd_passwd, [{incl_cond, include}]}
      ]}.

{target_dir, "emqttd"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           %% Copy base files for starting and interacting w/ node
           {copy, "../deps/node_package/priv/base/erl",
                  "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/node_package/priv/base/nodetool",
                  "{{erts_vsn}}/bin/nodetool"},
           {copy, "../deps/cuttlefish/cuttlefish",
                  "{{erts_vsn}}/bin/cuttlefish"},
           {template, "../deps/node_package/priv/base/runner",
                  "bin/emqttd"},
           {template, "../deps/node_package/priv/base/env.sh",
                  "lib/env.sh"},
           {template, "../deps/node_package/priv/base/app_epath.sh",
                  "lib/app_epath.sh"},

           {copy, "../deps/emqttd_acl/priv/test.acl",
                  "etc/emqttd.acl"},
           {copy, "../deps/emqttd_passwd/priv/test.passwd",
                  "etc/emqttd.passwd"},

           %% Cuttlefish Schema Files have a priority order.
           %% Anything in a file prefixed with 00- will override
           %% anything in a file with a higher numbered prefix.
           %%
           %% Please only use 0[0-9]-*.schema for development purposes
           {template, "files/emqttd.schema", "lib/10-emqttd.schema"},
           {template, "../deps/cuttlefish/priv/erlang_vm.schema", "lib/11-erlang_vm.schema"}
          ]}.
