%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps"]},
       {rel, "vernemq", "0.0.1",
        [
         kernel,
         stdlib,
         lager,
         sasl,
         vmq_server,
         {vmq_bitcask_store, load},
         {vmq_passwd, load},
         {vmq_acl, load},
         {vmq_bridge, load},
         {vmq_systree, load},
         {vmq_graphite, load},
         {vmq_snmp, load}
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "vernemq"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
        
       {app, mnesia, [{incl_app_filters, ["ebin/*"]}]},
       {app, cuttlefish, [{incl_cond, include}]},
       {app, vmq_server, [{incl_cond, include}]},
       {app, vmq_bitcask_store, [{incl_cond, include}]},
       {app, vmq_passwd, [{incl_cond, include}]},
       {app, vmq_acl, [{incl_cond, include}]},
       {app, vmq_bridge, [{incl_cond, include}]},
       {app, exometer_core, [{incl_cond, include}]},
       {app, vmq_systree, [{incl_cond, include}]},
       {app, vmq_graphite, [{incl_cond, include}]},
       {app, vmq_snmp, [{incl_cond, include}]},
       {app, eper, [{incl_cond, include}]},
       {app, recon, [{incl_cond, include}]},
       {app, lager_syslog, [{incl_cond, include}]},
       %%%%%% Excludes %%%%%%%
       {app, wx, [{incl_cond, exclude}]},
       {app, gs, [{incl_cond, exclude}]},
       {app, observer, [{incl_cond, exclude}]},
       {app, debugger, [{incl_cond, exclude}]},
       {app, common_test, [{incl_cond, exclude}]},
       {app, test_server, [{incl_cond, exclude}]},
       {app, webtool, [{incl_cond, exclude}]},
       {app, eunit, [{incl_cond, exclude}]},
       {app, hipe, [{incl_cond, exclude}]}


      ]}.

{target_dir, "vernemq"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/mnesia"},
           {mkdir, "data/msgstore"},
           {mkdir, "log/sasl"},
           %% Copy base files for starting and interacting w/ node
           {copy, "../deps/node_package/priv/base/erl",
                  "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/node_package/priv/base/nodetool",
                  "{{erts_vsn}}/bin/nodetool"},
           {copy, "../deps/cuttlefish/cuttlefish",
                  "{{erts_vsn}}/bin/cuttlefish"},
           {template, "../deps/node_package/priv/base/runner",
                  "bin/vernemq"},
           {template, "../deps/node_package/priv/base/env.sh",
                  "lib/env.sh"},
           {template, "../deps/node_package/priv/base/app_epath.sh",
                  "lib/app_epath.sh"},
           {template, "files/vmq-admin", "bin/vmq-admin"},

           {copy, "../deps/vmq_acl/priv/default.acl",
                  "etc/vmq.acl"},
           {copy, "../deps/vmq_passwd/vmq_passwd",
                  "bin/vmq-passwd"},
           {copy, "files/vmq_plugin.conf", "lib/vmq_plugin.conf"},

           %% Cuttlefish Schema Files have a priority order.
           %% Anything in a file prefixed with 00- will override
           %% anything in a file with a higher numbered prefix.
           %%
           %% Please only use 0[0-9]-*.schema for development purposes
           {template, "../deps/vmq_server/priv/vmq_server.schema", "lib/10-vmq_server.schema"},
           {template, "../deps/vmq_bitcask_store/priv/vmq_bitcask_store.schema", "lib/11-vmq_bitcask_store.schema"},
           {template, "../deps/vmq_plugin/priv/vmq_plugin.schema", "lib/12-vmq_plugin.schema"},
           {template, "../deps/vmq_acl/priv/vmq_acl.schema", "lib/13-vmq_acl.schema"},
           {template, "../deps/vmq_passwd/priv/vmq_passwd.schema", "lib/14-vmq_passwd.schema"},
           {template, "../deps/vmq_bridge/priv/vmq_bridge.schema", "lib/15-vmq_bridge.schema"},
           {template, "../deps/vmq_systree/priv/vmq_systree.schema", "lib/16-vmq_systree.schema"},
           {template, "../deps/vmq_snmp/priv/vmq_snmp.schema", "lib/17-vmq_snmp.schema"},
           {template, "../deps/vmq_graphite/priv/vmq_graphite.schema", "lib/18-vmq_graphite.schema"},

           {template, "files/vmq.schema", "lib/30-vmq.schema"},
           {template, "../deps/cuttlefish/priv/erlang_vm.schema", "lib/31-erlang_vm.schema"},
           {template, "../deps/riak_sysmon/priv/riak_sysmon.schema", "lib/32-riak_sysmon.schema"},
           
           {mkdir, "lib/erlio-patches"}
          ]}.
