%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "vernemq", "0.0.1",
        [
         kernel,
         stdlib,
         lager,
         sasl,
         vmq_server,
         vmq_passwd,
         vmq_acl,
%         vmq_lua,
         vmq_bridge,
         vmq_exo
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "vernemq"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
        
       {app, mnesia, [{incl_app_filters, ["ebin/*"]}]},
       {app, cuttlefish, [{incl_cond, include}]},
       {app, vmq_server, [{incl_cond, include}]},
       {app, vmq_passwd, [{incl_cond, include}]},
       {app, vmq_acl, [{incl_cond, include}]},
       {app, vmq_bridge, [{incl_cond, include}]},
       {app, vmq_exo, [{incl_cond, include}]},
       {app, eper, [{incl_cond, include}]},
       {app, lager_syslog, [{incl_cond, include}]},
       %%%%%% Excludes %%%%%%%
       %% Exometer
       {app, amqp_client, [{incl_cond, exclude}]},
       {app, rabbit_common, [{incl_cond, exclude}]},
       {app, jiffy, [{incl_cond, exclude}]},
       {app, folsom, [{incl_cond, exclude}]},
       %% Others 
       {app, wx, [{incl_cond, exclude}]},
       {app, gs, [{incl_cond, exclude}]},
       {app, observer, [{incl_cond, exclude}]},
       {app, debugger, [{incl_cond, exclude}]},
       {app, common_test, [{incl_cond, exclude}]},
       {app, test_server, [{incl_cond, exclude}]},
       {app, webtool, [{incl_cond, exclude}]},
       {app, eunit, [{incl_cond, exclude}]}


      ]}.

{target_dir, "vernemq"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/mnesia"},
           {mkdir, "data/msgstore"},
           {mkdir, "log/sasl"},
           %% Copy base files for starting and interacting w/ node
           {copy, "../deps/node_package/priv/base/erl",
                  "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/node_package/priv/base/nodetool",
                  "{{erts_vsn}}/bin/nodetool"},
           {copy, "../deps/cuttlefish/cuttlefish",
                  "{{erts_vsn}}/bin/cuttlefish"},
           {template, "../deps/node_package/priv/base/runner",
                  "bin/vernemq"},
           {template, "../deps/node_package/priv/base/env.sh",
                  "lib/env.sh"},
           {template, "../deps/node_package/priv/base/app_epath.sh",
                  "lib/app_epath.sh"},
           {template, "files/vmq-admin", "bin/vmq-admin"},

           {copy, "../deps/vmq_acl/priv/default.acl",
                  "etc/vmq.acl"},
           {copy, "../deps/vmq_passwd/vmq_passwd",
                  "bin/vmq-passwd"},

           %% Cuttlefish Schema Files have a priority order.
           %% Anything in a file prefixed with 00- will override
           %% anything in a file with a higher numbered prefix.
           %%
           %% Please only use 0[0-9]-*.schema for development purposes
           {template, "../deps/vmq_server/priv/vmq_server.schema", "lib/10-vmq_server.schema"},
           {template, "../deps/vmq_acl/priv/vmq_acl.schema", "lib/11-vmq_acl.schema"},
           {template, "../deps/vmq_passwd/priv/vmq_passwd.schema", "lib/12-vmq_passwd.schema"},
           {template, "../deps/vmq_bridge/priv/vmq_bridge.schema", "lib/13-vmq_bridge.schema"},
           {template, "../apps/vmq_exo/priv/vmq_exo.schema", "lib/14-vmq_bridge.schema"},
           {template, "files/vmq.schema", "lib/15-vmq.schema"},
           {template, "../deps/cuttlefish/priv/erlang_vm.schema", "lib/16-erlang_vm.schema"},
           {template, "../deps/riak_sysmon/priv/riak_sysmon.schema", "lib/17-riak_sysmon.schema"},
           {copy, "../apps/vmq_exo/priv/snmp", "snmp"},

           {mkdir, "lib/erlio-patches"},
           {copy, "../apps/vmq/ebin/*.beam", "lib/erlio-patches"}
          ]}.
