{erl_opts, [debug_info]}.
{deps, [
    {lager, "3.9.2"},
    {vernemq_dev, {git, "https://github.com/gojekfarm/vernemq_dev.git", {tag, "1.4.0"}}},
    {cuttlefish, {git, "https://github.com/Kyorai/cuttlefish.git", {tag, "v3.4.0"}}},
    {clique, {git, "https://github.com/vernemq/clique.git", {ref, "213d60fe70cf2badb851f2392da184715c645546"}}},
    {vmq_enhanced_auth, {path, "vmq_enhanced_auth"}},
    {vmq_events_sidecar, {path, "vmq_events_sidecar"}}
]}.
{overrides, [
    {override, clique, [{erl_opts, [debug_info]}]}
]}.
{plugins, [
    rebar3_path_deps
]}.
