{minimum_otp_vsn, "20.0"}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{plugins, [rebar3_diameter_compiler]}.
{provider_hooks, [
    {pre, [
        {compile, {diameter, compile}},
        {clean, {diameter, clean}}
    ]}
]}.
{deps, [
        lager,
        sext,

        {swc, {git, "git://github.com/dergraf/ServerWideClocks.git", {branch, "use-maps-instead-of-orddict"}}},
        {sext, "1.4.1"},
        {rocksdb, "0.20.1"},

        %% plumtree related
        riak_dt
       ]}.

{cover_enabled, true}.
