{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
        lager,
        {sext, "1.5.0"},
        {swc, {git, "git://github.com/vernemq/ServerWideClocks.git", "master"}},
        {eleveldb, {git, "git://github.com/vernemq/eleveldb.git", {branch, "develop"}}},
        riak_dt
       ]}.

{profiles, [{rocksdb, [{deps, [rocksdb]}]},
            {leveled, [{deps, [{leveled, {git, "git://github.com/martinsumner/leveled.git", {branch, "master"}}}]}]},
            {test, [{deps, [triq]}]}]}.
                 
{cover_enabled, true}.
