{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    lager,
    {sext, "1.8.0"},
    {swc, {git, "https://github.com/vernemq/ServerWideClocks.git", "master"}},
    {eleveldb, {git, "https://github.com/vernemq/eleveldb.git", {branch, "develop"}}},
    riak_dt
]}.

{profiles, [
    {rocksdb, [{deps, [rocksdb]}]},
    {leveled, [
        {deps, [
            {leveled, {git, "https://github.com/martinsumner/leveled.git", {branch, "develop-3.1"}}}
        ]}
    ]},
    {test, [{deps, [triq]}]}
]}.

{cover_enabled, true}.
