{erl_opts, [{parse_transform, lager_transform},
            warnings_as_errors,
            debug_info]}.
{deps, [
        clique,
        {lager, "3.2.1"},
        {poolboy, "1.5.1"},
        {epgsql, "3.1.1"},
        {eredis, "1.0.8"},
        {hackney, "1.6.0"},
        {jsx, "2.8.0"},
        {bcrypt, "0.5.0-p3a"},

        {vernemq_dev, {git, "git://github.com/erlio/vernemq_dev.git", {branch, "master"}}},
        {luerl, {git, "git://github.com/rvirding/luerl.git", {branch, "develop"}}},
        {emysql, {git, "git://github.com/djustinek/Emysql.git", "fa7c94b5237a56cec6d75c3d3b1e51060426e099"}},
        %%Eonblast hasn't merged the Erlang 18 related PR from djustinek
        %%{emysql, {git, "git://github.com/Eonblast/Emysql.git", {tag, "v0.4.1"}}},
        {mongodb, {git, "git://github.com/comtihon/mongodb-erlang.git", {tag, "v0.7.9"}}},
        {mcd, {git, "git://github.com/EchoTeam/mcd.git", {ref, "b5b4a32"}}}
       ]}.

{overrides, [{override, mongodb, 
              %% use different bson-erlang fork, as we have a compile error in the official one
              [{deps, [{bson, {git, "git://github.com/vintenove/bson-erlang", {branch, "master"}}},
                       {pbkdf2, {git, "https://github.com/basho/erlang-pbkdf2.git", {tag, "2.0.0"}}}
                      ]}
              ]}]
}.
