{erl_opts, [
    warnings_as_errors,
    debug_info
]}.
{deps, [
    {poolboy, "1.5.2"},
    {epgsql, "4.7.1"},
    {eredis, "1.7.1"},
    {hackney, "1.20.1"},
    {jsx, "3.1.0"},
    bcrypt,
    {credentials_obfuscation, "3.5.0"},
    {clique, {git, "https://github.com/vernemq/clique.git", {tag, "0.3.8-verne"}}},
    {gen_server2, {git, "https://github.com/erlio/gen_server2.git", {branch, "master"}}},
    {luerl, {git, "https://github.com/rvirding/luerl.git", {tag, "v1.5.1"}}},
    {mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp", {tag, "1.9.0"}}},
    {emysql, {git, "https://github.com/vernemq/Emysql.git", {ref, "f9e7269"}}},
    {mongodb, {git, "https://github.com/emqx/mongodb-erlang.git", {tag, "v3.1.2"}}},
    {pbkdf2, {git, "https://github.com/emqx/erlang-pbkdf2.git", {ref, "088adb90e981a45ea014e4bffe285b9d24c9e73a"}}},
    {mcd, {git, "https://github.com/mths1/mcd.git", {branch, "master"}}}
]}.
