{erl_opts, [
    warnings_as_errors,
    debug_info
]}.
{deps, [
    {poolboy, "1.5.2"},
    {epgsql, "4.7.1"},
    {eredis, "1.7.1"},
    hackney,
    {jsx, "3.1.0"},
    bcrypt,
    credentials_obfuscation,
    {clique, {git, "https://github.com/vernemq/clique.git", {tag, "0.3.7-verne"}}},
    {gen_server2, {git, "https://github.com/erlio/gen_server2.git", {branch, "master"}}},
    {luerl, {git, "https://github.com/rvirding/luerl.git", {branch, "develop"}}},
    {mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp", {ref, "b97ef3d"}}},
    {emysql, {git, "https://github.com/vernemq/Emysql.git", {ref, "f9e7269"}}},
    {mongodb, {git, "https://github.com/emqx/mongodb-erlang.git", {tag, "v3.0.23"}}},
    {mcd, {git, "https://github.com/mths1/mcd.git", {branch, "master"}}}
]}.
