{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include/"}]}.

{deps, []}.

{gpb_opts, [{i, "proto"},
        {o_erl, "src"},
        {o_hrl, "include"},
        {module_name_suffix, "_pb"},
        {strings_as_binaries, true},
        {use_packages, true},
        type_specs]}.

{provider_hooks, [
  {pre, [
    {compile, {protobuf, compile}},
    {clean, {protobuf, clean}}
  ]}
]}.
